{% extends "enduser/toolbar.html" %}
{% load static %}
{% block title %} Status|view| {% endblock%}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/statusview.css">
{% endblock %}

{% block content %}

  <div class="wrapper">
    <div class="status-screen">
      <div class="progress-bar">
        <div class="progress-fill"></div>
      </div>
      {% if status_details %}
      {% for status in status_details %}
      <div class="status-header">
        <div class="profile-pic">
          <img src="{{user_details.user_profile}}" style="border-radius: 50%;height: 100%">
        </div>
        <div class="user-info">
          <div class="number">{{user_details.full_name}}</div>
          <div class="time">{{status.created_at}}</div>
        </div>
      </div>
      <div class="status-body">
        <img src="{{status.media_url}}" style="width:100%;">
      </div>

      <div class="view-count">
        <div class="eye-icon"></div>
        <span> 0</span>
      </div>
      {% endfor %}


      {% else %}
      <p>Media not found</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
