{% extends "enduser/toolbar.html" %}
{% load static %}
{% block title %} Status | View {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/statusview.css">
{% endblock %}
{% block extra_js %}
<script src="/static/js/status_view.js"></script>
{% endblock %}

{% block content %}
<div class="wrapper">
  <i style="position:absolute; left: 7%; top:4%; font-size: 22px;" class="fa fa-arrow-left" onclick="back()"></i>
  <i class="fa-solid fa-less-than" style=" position: absolute;display: flex;left: 10%;"></i>
  <i class="fa-solid fa-greater-than" style=" position: absolute;display: flex;right: 5%;"></i>

  <div class="status-screen" id="status-container">
    <!-- Status content will be rendered dynamically via JS -->
  </div>

</div>

<!-- Embed data safely for JavaScript -->
<script id="status-data" type="application/json">
  {
    "statuses": [
      {% for status in status_details %}
        {
          "id": {{ status.id }},
          "media_url": "{{ status.media_url }}",
          "caption": "{{ status.caption|escapejs }}",
          "created_at": "{{ status.created_at|date:"Y-m-d H:i:s" }}",
          "type": {{ status.type }},
          "viewers_count": {{ status.viewers_count }}
        }
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
    ],
    "userId": {{ user_details.id }},
    "userProfile": "{{ user_details.user_profile|default:'/static/images/default_avatar.png' }}",
    "userFullName": "{{ user_details.full_name }}",
    "viewerId": {{ request.user.id }}
  }
</script>

{% endblock %}
