{% extends "enduser/toolbar.html" %}
{% load static %}
{% block title %} Chats {% endblock%}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/chat.css">
<link rel="stylesheet" href="/static/css/message.css">
{% endblock %}
{% block extra_js %}
<script src="/static/js/chat_js.js"></script>
<script src="/static/js/message/audio_send.js"></script>
<script src="/static/js/message/delete_message.js"></script>
<script src="/static/js/message/load_message.js"></script>
<script src="/static/js/message/message_edit.js"></script>
<script src="{% static 'js/message/media_send.js' %}" defer></script>
<script src="/static/js/message/message_misle.js"></script>
<script src="/static/js/message/message_send.js"></script>
<script src="/static/js/message/react_message.js"></script>
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="sidebar">
            <div class="sidebar-header">
                <h2>Chats</h2>
                <div class="search-bar">
                    <i class="fas fa-search search-icon"></i>
                    <input type="text" id="chatSearch" placeholder="Search conversations...">
                </div>
            </div>
            {% if chats %}
            <div class="chat-list" id="chatList">
            {% for chat in chats %}
            <div class="chat-item" onclick="loadChatMessages('{{ chat.id }}', '{{ chat.title }}')">
                <input type="hidden" class="chat-id-hidden" value="{{ chat.id }}">

                <div class="chat-avatar">{{ chat.title|first }}</div>
                <div class="chat-header-info">
                    <h3 class="chat-title">{{ chat.title }}</h3>
                    <div style="gap: 5px;display: flex;align-items: center;">
                        <div style="font-size: 12px; display: flex; gap: 2px; align-items: center;">
                            {% if chat.seen_by_all %}
                            <i class="fas fa-check" style="color:#a29bfe;position: relative; left: 7px;font-size: 10px;"></i>
                            <i class="fas fa-check"style="color:#a29bfe;font-size: 10px;"></i>
                            {% else %}
                            <i class="fas fa-check"style="font-size: 10px;"></i>
                            {% endif %}
                        </div>
                          
                        <p class="chat-subtitle">{{ chat.latest_text|safe }}</p>
                    </div>
                </div>
                <div style="max-width: 100px;gap: 10px;flex-direction: column;display: flex;">
                <div style="justify-content: flex-end;align-items: center;display: flex;font-size: 12px;">{{ chat.unread_count }}</div>
                <div style="justify-content: flex-end;align-items: center;display: flex;font-size: 12px;">{{chat.created_at}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No chats available</p>
        {% endif %}
        <div class="fab-container">
            <div class="fab" id="plus_icon" onclick="openmodal()">
                <i class="fas fa-plus"></i>
            </div>
        </div>
    </div>
    <div class="chat-section hidden" id="chatSection" data-user-id="{{ request.user.id }}">
        <div class="chat-header" id="chatHeader"></div>
        <div class="chat-messages" id="messagesContainer">
        </div>
         <!-- Hidden file input -->
         <input type="file" id="mediaInput" multiple style="display:none;" accept="image/*,video/*,audio/*,.pdf,.doc,.docx"/>

         <!-- Preview Section -->
        <div id="mediaPreview"></div>
        <div class="chat-input" id="chatInput">

        </div>
    </div>
    

    <div id="openmodal" class="modal">
        <div class="modal-content">
            <span class="close-modal" onclick="close_modal()">&times;</span>
            <h3>Create New Chat</h3>
            <input type="search" id="userSearch" placeholder="Search users...">
            
            <!-- Selected users display -->
            <button id="createGroupChatBtn" style="display: none;" ><div>Create Group Chat</div></button>
    
            <div class="modal-options" id="userList">
            {% for user in users %}
                <div class="modal-option" data-user-id="{{ user.id }}">
                    <div class="option-icon">
                        <img src="{{ user.profile_pic }}" style="height:100%; border-radius:50%;">
                    </div>
                    <p class="user-name">{{ user.full_name }}</p>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>



    <style>
        #createGroupChatBtn{
            right: 5%;
            bottom: 10%;
            border-radius: 10px;
            padding: 15px;
            display: flex;
            position: absolute;
            background: #2a9dff;
        }
        .modal-option.selected {
            background-color: #d0ebff;
            border: 2px solid #339af0;
          }

        #mediaPreview{
            align-items: center;
            display: flex;
            gap: 10px;
        }
        .media-preview{
            max-width: 100px;
            border: 1px solid #000000;
            height: 70px;
            display: flex;
            align-items: center;
        }
        .media-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
          
    </style>
{% endblock %}