{% extends "adminuser/base.html" %}
{% load static %}

{% block title %}Clock-Chat Admin-Chat List{% endblock %}
{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h2 {
            text-align: center;
        }
        .search-box {
            width:  100%;
            margin-bottom: 1px;
            display: flex;
            justify-content: space-between;
        }
        input[type="text"] {
            width: 90%;
            padding: 7px;
            font-size: 13px;
            font-weight: bold;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 9px;
        }
        th, td {
            border: 1.4px solid #0e0c0c;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #8fb844;
        }
        img {
        border-radius: 45%;
        }
        .status {
             active {
            color: green;
            font-weight: bold;
        }
              deactive {
            color: red;
            font-weight: bold;
        }
        }
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}       
    </style>


   <h2 style=color:#b87639>Chat List </h2>

   <div class="search-box">
      <input type="text" placeholder="Search...">
      <button class="search-button">
        🔍
    </button>
    </div>
     
    <p align="right"><strong>Total Chart:</strong> 2</p>
    
    <table>
        <thead>
            <tr>    
                <th>Chartcover</th>
                <th>Title</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>                
                <td><img src="bacground.jpg" alt="Avatar" style="width:70px"></td>
                <td>Chat 1</td>
                <td>privet</td>
                <td><label class="switch">
                    <input type="checkbox" id="toggleSwitch" onchange="toggleSwitch()">
                    <span class="slider round"></span>
                    </label>
                    <p id="status">Deactivated</p>
                    <script>
                        function toggleSwitch() {
                        let switchElement = document.getElementById("toggleSwitch");
                        let status = document.getElementById("status");
                        status.innerText = switchElement.checked ? "Activated" :"Deactivated";
                          }
                        </script>
                    </td>                               
            </tr>
            <tr>                
                <td><img src="bacground.jpg" alt="Avatar" style="width:70px"></td>
                <td>Chat 2</td>
                <td>group</td>
                <td><label class="switch">
                    <input type="checkbox" id="toggleSwitch" onchange="toggleSwitch()">
                    <span class="slider round"></span>
                    </label>
                    <p id="status">Deactivated</p>
                    <script>
                        function toggleSwitch() {
                        let switchElement = document.getElementById("toggleSwitch");
                        let status = document.getElementById("status");
                        status.innerText = switchElement.checked ? "Activated" :"Deactivated";
                          }
                        </script>
                    </td>                               
            </tr>                       
                          
              
        </tbody>
    </table>
    <p align="right"><strong>Page:</strong> 1</p>

{% endblock %}