{% extends "adminuser/base.html" %}
{% load static %}

{% block title %}Clock-Chat Admin-Profile{% endblock %}
{% block content %}

    <div class="container bootstrap snippets bootdey">
        <div class="row ng-scope">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div class="container bootstrap snippets bootdey">
                            <div class="row ng-scope">
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-body text-center">
                                            <!-- Profile image centered -->
                                            <div class="pv-lg">
                                                <img class="center-block img-responsive img-circle img-thumbnail thumb96" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Contact">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="h4 text-center">Admin profile</div>
                                            <div class="row pv-lg">
                                                <div class="col-lg-2"></div>
                                                <div class="col-lg-8">
                                                    <form class="form-horizontal ng-pristine ng-valid">
                                                        <!-- Form fields here -->
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    <div class="profile-section">
        <h1>Admin Profile</h1>

        <div class="profile-info">
            <h2>Profile Information</h2>
            <p><strong>Name:</strong> enter your name</p>
            <p><strong>Email:</strong> enter your email</p>
            <p><strong>gender:</strong>  gender</p>
            <p><strong>Joined:</strong> March 16, 2025</p>
            <p><strong>date of birth:</strong> DOB</p>
             <form class="form-group">
        </div>

        <div class="settings">
            <h2>Account Settings</h2>
            <p><strong>Change Password:</strong> <a href="#">Click here</a></p>
            <p><strong>Edit Profile:</strong> <a href="#">Click here</a></p>
            <p><strong>Logout:</strong> <a href="#">Click here</a></p>
        </div>

    </div>

<style>

    .profile-section { 
        width: 80%; 
        margin: 20px auto; 
    }
    h1 { 
       text-align: center; 
    }
    .profile-info, .settings { 
        margin-bottom: 20px; 
        padding: 15px; 
        border: 1px solid #ccc; 
    }
    .profile-info h2, .settings h2 { 
        margin-bottom: 10px; 
    }
    .profile-info p, .settings p { 
        margin-bottom: 5px; 
    }
    .panel-body {
        text-align: center;
    }
    .profile-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
    }
</style>

{% endblock %}