<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="{% static 'images/admin-lock.jpeg' %}">

        <link rel="stylesheet" href="/static/css/clock.css">
        <script src="/static/js/toolbar.js"></script>

        {% block extra_css %}
        {% endblock %}
        {% block extra_js %}
        {% endblock %}
        <meta name="csrf-token" content="{{ csrf_token }}">

    </head>
    


<body data-user-id="{{ request.user.id }}" style="overflow-y:hidden;">

<div class="toolbar">
    <div class="toolbar-icons">
        <span class="toolbar-icon active" data-tooltip="Chats" onclick="window.location.href='/chat/'"><i class="fas fa-comment-alt"></i></span>
        <span class="toolbar-icon" data-tooltip="Status" onclick="window.location.href='/status/'"> <i class="fas fa-circle-notch"></i></span>
    </div>
    <div class="toolbar-icons">
        <span class="toolbar-icon" data-tooltip="Settings"><i class="fas fa-cog"></i></span>
        <span class="toolbar-icon" data-tooltip="Profile" onclick="profile_modal()"><i class="fa-regular fa-user"></i></span>
    </div>
</div>




<!-- Viewer Modal -->
<div id="profileModal" class="profile-modal" style="display: none;">
  <div class="profile-modal-box profile-modal-content">
    
    <div class="profile-header text-center">
      <img id="profilePhoto" src="/static/images/default_avatar.png" alt="Profile Photo">
      <h2 id="fullName"></h2>
    </div>

    <div class="profile-info" style="width: 80%;">
      <h4>Bio</h4>
      <p id="about"></p>

      <h4>Phone number</h4>
      <p id="phone"></p>

      <h4>Email</h4>
      <p id="email"></p>

      <h4>Date of Birth</h4>
      <p id="dob"></p>

      <h4>Gender</h4>
      <p id="gender"></p>

      <h4>Joined</h4>
      <p id="dateJoined"></p>
    </div>

    <button class="logout-btn" onclick="window.location.href='/logout/'">Log out</button>
    <p class="logout-note">Chat history on this computer will be cleared when you log out.</p>
  </div>
</div>


{% block content %}

{% endblock %}
</body>
</html>